html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

* {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}
*::before,
*::after {
  box-sizing: inherit;
  /* Remove image highlight when tapped on mobile */
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140% !important;
}

:root {
  --black: rgba(0, 0, 0, 0.9);
  --white: rgb(255, 255, 255);
  --light-blue: rgb(225, 237, 255);
  --purple: rgb(99, 91, 255);
  --sky-blue: rgb(128, 233, 255);
  --blue: rgb(83, 144, 246);
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 42px;
}

/* Header & footer start */

.header,
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--black);
}

.header__wrap,
.footer__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 26px 42px;
}

.header__item:first-child,
.footer__item:first-child {
  margin-right: auto;
}

.header__item,
.footer__item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__icon,
.footer__icon {
  height: 20px;
  margin-right: 6px;
}

.header__text,
.footer__text {
  color: var(--white);
}

.notification {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transition: opacity 0.5s linear, visibility 0.5s linear 0.5s;
  opacity: 0;
}

.notification.show {
  visibility: visible;
  transition-delay: 0s;
  opacity: 1;
}

/* Header & footer end */

/* Intro start */

.intro {
  margin: 80px 0;
}

.intro__wrap {
  display: flex;
  justify-content: space-between;
}

.intro__title {
  width: 100%;
  margin-bottom: 60px;
}

.intro__content {
  max-width: 550px;
  margin: auto 0;
  margin-right: 42px;
}

.intro__text {
  margin-bottom: 20px;
}

.intro__button {
  color: var(--white);
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  padding: 22px 50px;
  border: none;
  background: #3a92f5;
}

.intro__button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.intro__image-pic {
  max-width: 550px;
  max-height: 570px;
  border-radius: 16px;
}

/* Intro end */

/* Benefits start */

.benefits {
  width: 100%;
  background: var(--light-blue);
  margin-bottom: 80px;
}

.benefits__wrap {
  padding: 60px 0;
}

.benefits__title {
  margin-bottom: 60px;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
}

.benefits__item {
  max-width: 344px;
  margin-right: 26px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__icon {
  position: relative;
  height: 70px;
  margin-bottom: 20px;
}

.speed-icons {
  position: absolute;
  left: -12px;
  top: 8px;
  overflow: hidden;
}

.benefits__caption {
  margin-bottom: 20px;
}

#darkGroup {
  fill: var(--purple);
}

#lightGroup {
  fill: var(--sky-blue);
}

#dark1,
#dark2,
#light1 {
  transition: all 0.8s ease;
}

#dark1 {
  transform: translateX(-100%);
}

.benefits__item:hover svg #light1 {
  transform: translateX(40%);
}

.benefits__item:hover svg #dark1 {
  transform: translateX(0%);
}

.benefits__item:hover svg #dark2 {
  transform: translateX(30%);
  opacity: 0;
}

#wheel-container_dark,
#wheel-container_light {
  position: absolute;
}

#wheel-container_dark {
  top: 18px;
  left: 21px;
}

#wheel-container_light {
  top: 0;
  left: 0;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#darkWheel,
#lightWheel {
  transition: all 0.8s ease;
  transform-origin: center center;
}
#darkWheel {
  fill: var(--purple);
}
#lightWheel {
  fill: var(--sky-blue);
}
.benefits__item:hover svg #darkWheel,
.benefits__item:hover svg #lightWheel {
  animation: rotate360 1s ease forwards;
}

#checkmark {
  fill: none;
  stroke-dasharray: 140px, 140px;
  stroke-dashoffset: 0;
}

.benefits__item:hover svg #checkmark {
  animation: draw 0.8s ease-in-out alternate;
}

@keyframes draw {
  from {
    stroke-dashoffset: 140px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* Benefits end */

/* Map start */

.map {
  margin-bottom: 80px;
}

.map-pic {
  border-radius: 16px;
  width: 100%;
}
.map-pic:hover {
  cursor: pointer;
}

/* Map end */

/* Services start */

/* Services end */

@media screen and (max-width: 1100px) {
  .benefits__list {
    flex-wrap: wrap;
  }
  .benefits__item {
    max-width: 100%;
    margin: 0 0 40px 0;
  }
  .benefits__item:last-child {
    margin: 0;
  }

  .intro__content {
    width: 100%;
  }

  .intro__image {
    width: 100%;
    margin: auto 0;
  }

  .intro__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    font-size: 20px;
  }

  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 880px) {
  .intro__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .intro__image {
    margin-bottom: 26px;
  }
  .intro__image-pic {
    max-width: 100%;
    max-height: 100%;
  }
  .intro__content {
    text-align: center;
    margin-right: 0;
  }
  .map-pic {
    object-fit: cover;
    min-height: 420px;
  }

  .header__wrap,
  .footer__wrap {
    padding: 20px 26px;
  }

  .container {
    padding: 0 26px;
  }
}

@media screen and (max-width: 500px) {
  body {
    font-size: 18px;
  }

  h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 350px) {
  .header__text,
  .footer__text {
    display: none;
  }
}
